*{
    box-sizing: border-box;
}
body{
    background-color: powderblue;
    margin:5px 10px;
    max-width: 100%;
}

h1{
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.h2-1{
    text-align: center;
    font-style: italic;
    font-weight: normal;
    font-family: serif;
}
img{
    padding: 2px 4px;
}
.img-align{
    justify-content: center;
    align-items: center;
}
.Flex-container{
    display:flex
}


.flex{
    display:flex;
}

.article-1{
    border: 1px solid black;
    width: 25%;
    padding: 5px 10px;  
}
.article-2{
    border: 1px solid black;
    width: 50%;
    padding: 5px 10px;  
}
.article-3{
    border: 1px solid black;
   width: 25%;
    padding: 5px 10px;  
}
.flex-nav{
    display: flex;
}
.article-4{
    border: 1px solid black;
    padding: 5px 10px;
    max-width: 25%;
}
.flex-nav-2{
border:1px solid black;
width:75%
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;;
}
a:hover{
    color:forestgreen;
    text-decoration: underline;
}
.list-0{
background-color:purple;
font-size: 30px;

font-family: 'Josefin Slab', serif;
width:77.9rem;
padding: 15px;
}
.list-1{
    background-color:cyan;
    font-size: 30px;
    margin-bottom: 0px;
    font-family: 'Josefin Slab', serif;
    width:77.9rem;
    padding: 15px;
    }
    .list-2{
        background-color:paleturquoise;
        font-family: 'Josefin Slab', serif;
        margin-bottom: 0px;
        font-size: 30px;
        width:77.9rem;
        padding: 15px;
        }
        .list-3{
            background-color:violet;
            font-size: 30px;
            margin-bottom: 0px;
            font-family: 'Josefin Slab', serif;
            width:77.9rem;
            padding: 15px;
            }
            .list-4{
                background-color:hotpink;
                font-size: 30px;
                margin-bottom: 0px;
                font-family: 'Josefin Slab', serif;
                width:.77.9rem;
                padding: 15px;
            
                }
                .al-items{
                    align-items: stretch;
                    height: 40px;
                }
                
            
            
